<div class="container">
  <div class="narrow-container mt-5 pt-5">
    <div class="text-center">
      <img src="./assets/pun_image/punshop.png" width="100" alt="Pun Care">
      <h3 class="my-4">Đặt lại mật khẩu</h3>
    </div>
    <form #form="ngForm" [mustMatch]="['password', 'cfPassword']">
      <div class="position-relative mb-4 form-group">
        <b>Mật khẩu mới: </b>
        <input type="password" name="password" [(ngModel)]="resetForm.password" class="form-control" required minlength="6">
        <div *ngIf="submitted && form.controls.password.errors" class="input-errors">
          <div *ngIf="form.controls.password.errors.required"><i class="fas fa-exclamation-triangle mr-2"></i>Trường bắt buộc</div>
          <div *ngIf="form.controls.password.errors.minlength"><i class="fas fa-exclamation-triangle mr-2"></i>Độ dài tối thiểu là 6 kí tự</div>
        </div>
      </div>
      <div class="position-relative mb-4 form-group">
        <b>Nhập lại mật khẩu mới: </b>
        <input type="password" name="cfPassword" [(ngModel)]="resetForm.cfPassword" class="form-control" required>
        <div *ngIf="submitted && form.controls.cfPassword.errors" class="input-errors">
          <div *ngIf="form.controls.cfPassword.errors.required"><i class="fas fa-exclamation-triangle mr-2"></i>Trường bắt buộc</div>
          <div *ngIf="form.controls.cfPassword.errors.mustMatch"><i class="fas fa-exclamation-triangle mr-2"></i>Mật khẩu không khớp</div>
        </div>
      </div>
      <div class="form-group text-center pt-3">
        <button class="btn btn-pun-danger btn-static mb-4 btn-block" (click)="submit(form)" [disabled]="loading" type="button">Gửi thông tin</button>
        <a routerLink="/home" routerLinkActive="active">Hủy</a>
      </div>
    </form>
  </div>
</div>
