<div class="header-sticky {{scrollDown ? 'header-shadow' : 'background-cloud'}}">
  <nav class="navbar navbar-expand-lg navbar-light nav-pun-custom">
    <div class="container">
      <a class="navbar-brand" href="#" >
        <img src="./assets/pun_image/punshop.png" alt="logo" width="50">
        <label class="ml-3 mb-0 cursor-pointer">Pun shop</label>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" class="ml-auto">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-4"><a class="nav-link" routerLink="pages/home" routerLinkActive="active">Trang chủ</a></li>
          <li class="nav-item mx-4"><a class="nav-link" href="#" routerLinkActive="active">Giới thiệu</a></li>
          <li class="nav-item mx-4"><a class="nav-link" routerLink="pages/services" routerLinkActive="active">Dịch vụ</a></li>
          <li class="nav-item mx-4 "><a class="nav-link" href="#" routerLinkActive="active">Sản phẩm</a></li>
        </ul>
      </div>
    </div>

  </nav>

</div>
