.header-sticky{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  transition: all 0.2s ease;
  opacity: 0.95;
  .nav-pun-custom{
    height: 110px;
    padding: 20px;
  }
}
.header-shadow{
  box-shadow: 10px 10px 42px 0 rgb(8 15 52 / 6%);
}
.nav-link{
  font-size: 20px;
  font-weight: 500;
}

.bg-pink{
  background-color: #fffaf6;
}

.nav-link.active, .nav-link:hover {
  color: #f97561 !important;
}
