<div class="header-absolute">
  <nav class="navbar navbar-expand-lg navbar-light nav-pun-custom">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="./assets/pun_image/punshop.png" alt="logo" width="50">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" class="ml-auto">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-4 active">
            <a class="nav-link" [routerLink]="'pages/home'">Home</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" href="#">About us</a>
          </li>
          <li class="nav-item mx-4 dropdown">
            <a class="nav-link" href="#">
              Services
            </a>
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Pet grooming</a>
              <a class="dropdown-item" href="#">Pet bath</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Pet visit</a>
            </div> -->
          </li>
          <li class="nav-item mx-4 ">
            <a class="nav-link" href="#">Products</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>

</div>
