<div class="container py-lg-5 pt-5">
  <div class="text-center mb-4 mb-lg-5 mx-2 mx-lg-5 px-lg-5">
    <h1 class="font-weight-bold">Chúng tôi là ai?</h1>
    <h5 class="text-pun-danger">Chúng tôi là gia đình <b>Pun Care</b></h5>
    <h5 class="text-pun-secondary">Được khởi động từ năm 2009, chúng tôi luôn cố gắng để khách hàng có trải nghiệm tốt nhất. Để cho thú nuôi của các bạn luôn cảm thấy gần gũi nhất. Và chúng tôi yêu thú nuôi của bạn như cách bạn dành tình cảm cho chúng.</h5>
  </div>
  <div class="about-img py-md-5 position-relative">
    <img src="./assets/pun_image/about-img-1.jpg" class="d-none d-md-inline rotate-left" width="600">
    <img src="./assets/pun_image/about-img-2.jpg" class="d-none d-lg-inline border-lg-white rounded img-abs rotate-right" width="600">
  </div>
</div>

<div class="py-5">
  <div class="container">
    <label>
      Trung tâm dịch vụ thú cưng <b>Pun Care</b> tự tin đạt tiêu chuẩn chất lượng chăm sóc và khám chữa bệnh cho thú cưng. Đến với Pun Care, bạn và Boss sẽ được trải nghiệm cảm giác tuyệt vời với:
    </label>
    <ul>
      <li>Phòng khám sạch sẽ & thoáng mát.</li>
      <li>Chăm sóc thú cưng bằng cả trái tim và đạo đức.</li>
      <li>Đội ngũ bác sĩ chuyên môn cao với phương pháp điều trị tiên tiến.</li>
      <li>Danh mục thuốc/vacxin điều trị có nguồn gốc rõ ràng và chất lượng.</li>
      <li>Khu khám chữa bệnh, cách ly, chăm sóc được thiết kế riêng biệt tránh nguy cơ lây nhiễm.</li>
      <li>Pet Shop đa dạng, phong phú.</li>
      <li>Spa – Grooming thời thượng.</li>
      <li>Chi phí hợp lý & nhiều chương trình ưu đãi hấp dẫn.</li>
    </ul>
  </div>
</div>
<div class="background-cloud py-5">
  <div class="container">
    <h1 class="font-weight-bold text-center mb-4">Gặp gỡ các bác sĩ có chuyên môn cao tại trung tâm</h1>
    <div class="card-deck">
      <div class="card mb-3 mb-lg-0">
        <img src="./assets/pun_image/doctor-1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Doctor Strange</h4>
          <p class="card-text">Có chứng chỉ và kinh nghiệm 8 năm trong lĩnh vực chẩn đoán là điều trị bệnh cho thú cưng.</p>
          <p class="card-text">Đã từng tham gia đội cứu trợ thú nuôi vô chủ tại Singapore.</p>
        </div>
      </div>
      <div class="card mb-3 mb-lg-0">
        <img src="./assets/pun_image/doctor-2.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Christine Palmer</h4>
          <p class="card-text">Nữ bác sĩ đã đỡ đẻ thành công cho hàng nghìn thú nuôi. Với kinh nghiệm thực tế sau 5 năm làm việc, cô luôn biết làm thế nào để thú nuôi vượt cạn thành công.</p>
        </div>
      </div>
      <div class="card mb-3 mb-lg-0">
        <img src="./assets/pun_image/doctor-3.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Wong</h4>
          <p class="card-text">Là một bác sĩ ngoại khoa trong ngành thú y. Với tinh thần cẩn trọng và tính cách vui vẻ, bạn và Boss sẽ không phải lo lắng mỗi khi đặt niềm tin cho bác sĩ Wong.</p>
        </div>
      </div>
    </div>
  </div>
</div>
