.box-service{
  margin: 15px 0;
}
.title-contact{
  font-size: 50px;
  font-weight: 700;
}
.card-contact{
  padding: 30px;
  border-radius: 20px;
}
.input-contact{
  height: 60px;
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 16px;
}
.form-textarea{
  min-height: 100px;
}
.btn-contact{
  width: 200px;
  min-height: 60px;
}
