@import './buttons.scss';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&display=swap');

// ng-select
@import "~@ng-select/ng-select/themes/default.theme.css";
body {
  font-family: 'Baloo Chettan 2', sans-serif;
}
.cursor-pointer{
  cursor: pointer;
}

// background
.background-cloud {
  background-color: #fffaf6 !important;
}

// Text
.font-weight-500{
  font-weight: 500;
}
.text-pun-secondary {
  color: #817d7d;
}
.title-input-lg{
  font-size: 24px;
  font-weight: 700;
}

// Carousel
.owl-theme .owl-nav [class*=owl-]{
  padding: 5px 12px;
  border-radius: 4px;
}

// input
.form-search-md {
  max-width: 400px;
}
.input-group-append .btn, .input-group-prepend .btn {
  z-index: 1;
}
.form-control.ng-touched.ng-invalid {
  border: 1px solid #f97561;
}



.form-control {
  &:focus {
    box-shadow: none;
    border-color: #36f;
  }
  &:hover {
    background-color: rgb(240, 240, 240);
  }
}

.input-contact{
  height: 60px;
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 16px;
}

// border
.border-bot-pun{
  border-bottom: 1px solid #e0dbdb;
}

// Other
.pointer {
  cursor: pointer;
}
.box-service {
  border: 1px solid #e0dbdb;
  padding: 60px 40px;
  border-radius: 20px;
  display: flex;
  background-color: #fff;
  min-height: 350px;
  cursor: pointer;
  transition: 0.2s all ease-out;
  &:hover{
    border-color: #f97561;
    transition: 0.2s all ease-in;
  }
}
.box-img{
  width: 125px !important;
  height: 125px;
  margin-bottom: 20px;
  margin-right: 30px;
}
.badge{
  padding: 16px 26px;
  font-size: 16px;
}
.badge-sm {
  padding: 10px 25px;
  font-size: 14px;
}
.badge-pun-secondary{
  background-color: #f2f0ef;
}
.block-contact{
  .fas {
    font-size: 20px;
    color: #ff8d7c;
  }
}

// selector
.ng-select.ng-touched.ng-invalid {
  .ng-select-container {
    border: 1px solid #f97561;
  }
}
.ng-select.custom-lg-select{
  .ng-select-container{
    height: 60px;
    border-radius: 10px;
    .ng-value-container{
      padding-left: 20px;
      .ng-input {
        top: 50%;
        padding-left: 19px;
        padding-right: 20px;
        transform: translateY(-50%);
        input {
          padding-left: 0;
        }
      }
    }
  }

  &.ng-select-opened{
    .ng-select-container {
      border-color: #36f;
    }
  }
  &.ng-select-focused:not(.ng-select-opened){
    .ng-select-container {
      box-shadow: none;
      border-color: #36f;
    }
  }
  &:hover {
    .ng-select-container {
      background-color: rgb(240, 240, 240);
    }
  }
}



// Card
.card-contact{
  padding: 30px;
  border-radius: 20px;
}
